body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#card{
  border: 2px solid #333; 
  background-color: #f9f9f9; 
  border-radius: 8px; 
  margin: auto;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 200px;


}

#leftSection{
    margin: 0px 90px 0px 0px;
    border-right: 2px solid black;
    padding-right:0px 20px 0px 20px;
    background-color: gray;
}

#image{
    border-radius: 50%;
}

#leftSection h2{
    border: 1px solid black;
    background-color: lightgray;
    color: black;
    border-radius: 3px;
    display: inline-block; 
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#rightSection {
}
    


