body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;    
    justify-content: center;
    

}



#card{
    border: 2px solid black;
    border-radius: 10px;
    height: 100%;
    width: 50%;
    display: flex;
       
    
}

#leftSection{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-right: 2px solid #000;
  padding: 20px;
  text-align: center;
  background-color: aliceblue;
}


img {
    width: 70px;
  height: 70px;
  border: 2px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rightSection {
  flex: 2;
  padding: 20px; 
  background-color: black;
}

#rightSection h2 {
    margin: 0;
    font-size: 20px;
    color: white;
}

p {
    display: flex;
    font-size: 14px;
    color: white;

}